@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


pre,
code {
  @apply h-full;
}

.hljs {
  @apply rounded-md h-full;
}

.react-flow__handle {
  @apply opacity-0;
}

.content-code {
  scrollbar-width: thin;
  scrollbar-color: #888 #eee;
}

.content-code::-webkit-scrollbar {
  width: 12px; 
  height: 12px;
}

.content-code::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 10px;
}

.content-code::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px;
  border: 3px solid #eee;
}

.content-code::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.content-code {
  scrollbar-width: thin; 
  scrollbar-color: #888 #eee; 
}

.content-code::-moz-scrollbar-thumb {
  border-radius: 10px;
}
